*{
  margin: 0;
}

    @media screen and (min-width:768px){
      articel{
        width: 350px;
      }
    }
    .pie{
      margin-bottom: 20px;
    }
    .input-group{
      margin-bottom:20px
    }
    .input-group input,
    .input-group textarea,
    .input-group select
    {
      padding: 10px;
      border: 1px solid#999;
      border-radius: 2px;
      width: 100%;
    }
  .lable{
    font-weight: 600;
  }
  input[type='reset']{
    background: transparent;
    border:0;
    text-decoration: underline;
    cursor: pointer;
  }
 .input-group[type='submit']{
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px;

 }









html,body{
  height: 100%;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
}
p{
  margin: 0.5em 0 0.5em 0;
}
header{
  display: block;
  position:fixed ;
  top: 0;
  left:0 ;
  width: 100%;
  background: #a493c0;
  padding: 10px;
}
nav a:visited,
nav a :link{
  color: #fff;
  text-decoration: none;
}
nav > ul{
  display: inline;
  padding: 0;
}
nav >ul > li{
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 5px;
}
main{
  display: block;
  background-image: url(img/background.png);
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 85%;
}
footer{
  padding: 15px;
}
aside,
article{
  padding: 2rem;
}
aside{
  text-align: center;
}
article{
  width: 75%;
}
.columns{
  display: flex;
}
@media only screen and (min-width:768px){
  main{
    display: flex;
  }
  aside{
    margin-left: 2%;
  }
  .columns-desktop{
    display: flex;
  }
}
  
.pie{
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border: solid 1px #ccc;
}
.pie nav{
  display: flex;
}
.pie img {
  width: 100%;
}
.pie .title{
 font-weight: bold;
}
.pie .price{
  text-align: right;
}
.pie.columns{
  width: 100%;
}
.pie.columns div{
  width: 50%;
}
.pie button {
  background-color: #f6aeae;
  padding: 10px;
  border: solid 1px #f6aeae;
color: #fff;
}